header {
  height:400px;
  background-image:url("/img/skyview.jpg");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border:thin solid black;
}

header > img {
  border-top-left-radius: 20px;
  height:100px;
  width:100px;
  float:left;
  margin-right:20px;
  background-image:url("/img/logo.jpg");
}

header > h1
{
  color:black;
  float:left;
}