
article {
  border:thin solid green;
  padding:10px;
}

article,
article > header
{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

article,
article > footer
{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header {
  height:400px;
  background-image:url("/img/skyview.jpg");
}

header > img {
  border-top-left-radius: 20px;
  height:100px;
  width:100px;
  float:left;
  margin-right:20px;
  background-image:url("/img/logo.jpg");
}

header > h1
{
  color:black;
  float:left;
}
