:root {
  --color-primary-light: #abb98d;
  --color-primary-mid: #7c9b39;
  --color-primary-dark: #5c7f23;
  --color-secondary-dark: #714c40;
  --color-secondary-light: #d4986d;
  --fancy-border-style: double;
  --fancy-border-width: 5px;

  /* water.css overrides */
  --background: var(--color-primary-light);
}

html {
  scroll-behavior: smooth;
}

main {
  border-width: var(--fancy-border-width);
  border-style: var(--fancy-border-style);
  border-color: var(--color-secondary-light);
  padding: 15px;
}

main,
main > header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

main,
main > footer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

footer {
  height: 50px;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  color: black;
  border: none;
}

footer > a {
  margin:0;
  float:right;
  padding:5px;
}

footer > p {
  margin:0;
  float:left;
}

header {
  height: 400px;
  background-image: url("/img/800w/skyview.jpg");
  background-size: cover;
}

header > img {
  border-top-left-radius: 20px;
  height: 175px;
  width: 175px;
  float: left;
  margin-right: 20px;
}

header > h1 {
  color: black;
  float: left;
}

dl > dt {
  font-weight: 900;
}

dl > dd {
  margin: 15px;
}

main nav {
  display: flex;
  flex-direction: row;
}

main nav a {
  color:white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  border-right:1px solid white;
  background-image: linear-gradient(to bottom, var(--color-primary-dark), var(--color-primary-mid));
  text-align: center;
  flex-grow: 1;
}

main nav a:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main nav a:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right:none;
}

main nav a:hover {
  text-decoration: none;
  background-image: linear-gradient(to top, var(--color-primary-dark), var(--color-primary-mid));
}

iframe {
  max-width: 100%;
}

figure {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: thin solid var(--color-secondary-light);
  border-radius: 5px;
}

figure img {
  display: block;
  margin: auto;
  width:100%;
}

figure figcaption {
  padding: 10px;
  text-align: center;
  background-color: var(--color-primary-dark);
  color: white;
}

figure figcaption a {
  color:white;
  text-decoration: underline;
}

figure figcaption a:hover {
  color:#a42b76;
}

figure ul {
  border:none;
  columns:unset;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  column-gap:5px;
  row-gap:5px;
}

figure ul li {
  padding:0px;
  margin:0px;
  flex: 1 1 45%;
}

ul {
  list-style: none;

  column-count: 3;
  column-width: 120px;
  column-gap: 50px;
  padding: 25px;

  column-rule: thin solid var(--color-secondary-light);
  border: thin solid var(--color-secondary-light);
  border-radius: 10px;
}

ul > li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  break-inside: avoid-column;
}

/*
  Single Page Navigation
  See https://css-tricks.com/a-whole-website-in-a-single-html-file/
  See also https://john-doe.neocities.org/
*/

article {
  padding-top: 800px;
  margin-top: -800px;
}

article,
article:target ~ #home {
  display: none;
}

article:target,
article#home {
  display: block;
}

/*
  Custom Aria-Label Hover
*/

[aria-label] {
    text-decoration: underline;
    text-decoration-style: dotted;
    padding-right:40px;
}

[aria-label]:after {
    background-image: url('/img/icon-paperclip.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(10px);
    transition: transform 500ms;
    height: 20px;
    width: 20px;
    content: "";
    position: absolute;
}

[aria-label]:hover {
    color: var(--color-primary-dark);
    text-decoration-style:solid;
}

[aria-label]:hover:after {
    transform:rotate(90deg) translate(20px, -10px);
    transition: transform 500ms;
    z-index:1;
}

[aria-label]:hover:before {
    background-color: var(--color-primary-dark);
    border-radius: 5px;
    border: 5px solid #fff;
    color: #fff;
    content: attr(aria-label);
    font-weight:normal;
    max-width: 200px;
    padding: 10px;
    position: absolute;
    transform: translate(1.5rem,1.5rem);
    z-index:1;
}

