@import "https://unpkg.com/@csstools/normalize.css";

html {
  /*
    With border-box, rendered box width equals CSS width.
    With content-box, rendered box width equals CSS width + (2 x CSS padding).
    For instance, if we have width 100px and padding 10px, border-box rendered width
    equals 100px whereas context-box rendered width equals 120px.
  */
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 6.25%; /* Make one rem equal to one pixel. */
}

body {
  font-size: 18rem; /* Then set the font-size e.g., to 18px. */
}

body * {
  /*
    Here we use inherit to preserve downstream inheritance.
  */
  box-sizing: inherit;
}

main > header {
  display: flex;
  justify-content: space-between;
}

main > header > aside {
  background-color: var(--color-warning);
  border-radius: 5px;
  padding: 5px;
  height: 20rem;
}
