@import "https://unpkg.com/@csstools/normalize.css";
@import "./vars.css";

/* Structure */

html {
}

body {
}

main {
}

main > header {
}

main > header > nav {
}

/* Text */

main {
  font-family: arial, sans-serif;
}

h1 input,
h2 input,
h3 input,
h4 input,
h5 input {
  font-size:inherit;
}

/* Nav */

nav ul {
  padding:0;
  list-style: none;
  display:flex;
  justify-content: flex-start;
  align-items: stretch;
  column-gap:5px;
}

nav ul li {
  flex: 0 0 auto;
}

nav ul li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav ul li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav ul li a {
  background-color: var(--color-success);
  color: white;
  padding:10px;
  line-height:3em;
  text-decoration: none;
}

nav ul li a:hover {
  filter: brightness(120%);
}

nav ul li a.router-link-active {
  filter: brightness(130%);
}

/* Controls */

input[type="button"] {
  border-radius: 5px;
  line-height: 2em;
  border:none;
  margin:0 5px;
  line-height: 2em;
}

input[type="button"][value^="Edit"] {
  background-color: var(--color-success);
  color: white;
}
input[type="button"][value^="Delete"] {
  background-color: var(--color-danger);
  color: white;
}
input[type="button"][value^="New"] {
  background-color: var(--color-success);
  color: white;
}
