@import "./vars.css";

html {
  font-size: 24px;
}

body {
  width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Nav */

nav ul li a {
  /* background-color: var(--color-success); */
  /* color:white; */
}

nav ul li a.router-link-active {
  filter:brightness(150%);
}

nav ul li a:hover {
  filter:brightness(50%);
}

/* Tables */

table {
  border: 0;
}

table th,
table td {
  border: 0;
  border-bottom: 1px solid #acc;
  padding: 4px;
  vertical-align: top;
}

table th li,
table td li {
  margin: 0 0 0 1.5em;
}

table caption,
table th {
  text-align: left;
  color: #450b09;
}

table th {
  font-weight: bold;
}

table td {
  vertical-align: top;
  padding: 0.25em 1.25em 0.25em 0em;
}

table tr,
table tbody {
  border: 0px;
}

/* Controls */

input[type="button"][value^="Edit"] {
  background-color: var(--color-success);
  color: white;
}
input[type="button"][value^="Delete"] {
  background-color: var(--color-danger);
  color: white;
}
input[type="button"][value^="New"] {
  background-color: var(--color-success);
  color: white;
}
